a:active,
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(237, 105, 105);
}

.butt {
    display: inline-block;
    margin-right: 25px;
}

.holder {
    margin-top: 10px;
}
