.link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

a:active,
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(237, 105, 105);
}

#logo {
    height: 100%;
}

.head {
    height: 50px;
    background: rgba(0, 0, 0, .8)
}

.links {
    height: 100%;
}

#logoPic {
    height: 100%;
    margin-left: 10px;
}